body{
    background-color: aquamarine;
}

.main{
    font-size: 20px;
    justify-content: center;
}

p{
    background-color: bisque;
    width: 20%;
    height: 30px;
    padding: 10px 20px 10px 10px;
}


button{
    background-color: burlywood;
    font-size: 20px;
    
}

nav{
    background-color: bisque;
    margin-top: 30px;
    margin-left: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

a{
    background-color: aquamarine;
    padding: 10px 20px;
    text-decoration: none;
    
}

