body{
    background-color: aquamarine;
}

.main{
    font-size: 20px;
    justify-content: center;
}

p{
    background-color: bisque;
    width: 20%;
    height: 30px;
    padding: 10px 20px 10px 10px;
}